h1 {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.exercises {
  display: flex;
  background: #444;
}

.exercise.selected {
  background-color: #fff;
  color: #000;
  cursor: default;
}

.exercise.complete.selected {

}

.exercise.complete {
}

.exercise.milestone-title {
  background: transparent;
  color: #ffffff;
}

.exercise.codelab-title {
  background: #f90;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  margin-top: 0;
  padding-top: 8px;
}

.exercise.milestone-title {
  margin-right: 20px;
}

.exercise {
  padding: 4px 8px;
  margin-top: 4px;
  line-height: 20px;
  background-color: #dddddd;
  cursor: pointer;
  margin-right: 4px;
  white-space: nowrap;
}

app-exercise {
  padding: 8px;
  display: block;
}

.header {
  height: 25px;
}
