<!-- momo new html template -->

<button 
        type="submit" 
        [ngClass]="{'autorun-on': config.autorun, 'autorun-off': !config.autorun}" 
        [disabled]="config.autorun"
        (click)="run()">Run
</button>
<span *ngIf="!config.autorun"> click run to execute. (autorun</span>
<span *ngIf="config.autorun"> (auto running</span>
<label>
    <input 
        type="checkbox" 
        name="isAutorun" 
        [(ngModel)]="config.autorun"
        (click)="toggleAutorun(config.autorun)">
    <span>)</span>
    
</label>

<hr class="autorun-linebreak">