.autorun-off {background: orange; color: black;}
.autorun-on {background: #f2f2f2; color: lightgray}
hr.autorun-linebreak {

	background-color: blue;
    border: lightgray solid 1px;
    width: 30em;
    margin-left: 0em;
}
