<div class="description main" [innerHTML]="config.description" *ngIf="!config?.editedFiles?.length"></div>
<div *ngIf="false" class="next" (click)="state.nextExercise()">
  {{config.messageNext || 'Good job! Go to the next exercise!'}}
</div>
<div class="exercise-panel" *ngIf="config?.editedFiles?.length">
  <app-editors [files]="config.editedFiles"
               (onFileCollapsed)="onFileCollapsed($event)"></app-editors>
  <div class="side">
    <div class="description" [innerHTML]="config.description"></div>
    <app-tests [tests]="config.tests"></app-tests>
    <app-runner [files]="config.editedFiles" style="flex: 50%"></app-runner>
    <app-feedback-widget></app-feedback-widget>
  </div>
</div>
