.side {
  padding: 10px;
}

.next {
  color: #fff;
  background: #3e8e01;
  padding: 10px;
  cursor: pointer;
}

.description {
  max-width: 500px;
  padding: 0 0 10px 0;
}

app-editors {
  width: 500px;
  display: flex;
}

.side {
  flex: 1;
}
