<h2>{{config.title}}</h2>
<div class = "description" [innerHTML]="config.description"></div>
<div *ngIf="allTestsPass()" class="next" (click)="state.nextExercise()">
  {{config.messageNext || 'Good job! Go to the next exercise!'}}
</div>
<div style="display: flex" *ngIf="config?.editedFiles?.length">
  <app-editors [files]="config.editedFiles" (onCodeChange)="onCodeChange($event)"></app-editors>
  <div class="side">
    <app-tests [tests]="config.tests"></app-tests>
    <app-runner [files]="config.editedFiles" style="flex: 50%"></app-runner>
  </div>
</div>
