<div class="codelab">
  <div class="header">{{config.title}}</div>
  <div class="content">
    <div class="milestones {{collapsePanel ? 'collapsed': ''}}">
      <div (click)="collapsePanel = !collapsePanel" class="collapse">
        {{collapsePanel ? '▶': '◀'}}
      </div>
      <div
        class="milestone {{config.selectedMilestoneIndex === i ?'selected':''}}"
        *ngFor="let item of config.milestones; let i = index;"
        (click)="state.selectMilestone(i)"
      >
        <div class="index">{{i + 1}}</div>
        <div class="title">{{item.name}}</div>
      </div>
    </div>
    <div class="codelab-milestone">
      <app-milestone [config]="config.milestones[config.selectedMilestoneIndex]"></app-milestone>
    </div>

  </div>
</div>
