.codelab {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #dddddd;
  padding: 4px 10px;
}

.content {
  padding: 0;
  display: flex;
  flex: 1;
}

.milestones {
  box-shadow: #dddddd 2px 2px 2px;
}

.milestones.collapsed .title {
  display: none;

}

.milestone {
  display: flex;
  margin-bottom: 4px;
  cursor: pointer;
}

.index {
  color: #000;
  padding: 4px 4px 4px 8px;
  width: 20px;
  text-align: center;
}

.title {
  padding: 4px 10px;
  white-space: nowrap;
}

.milestone.selected {
  background-color: #eee;
}

.milestone.selected .title {
  font-weight: bold;
}

.milestone.selected .index {
  background-color: #f90;
}

.collapse {
  text-align: center;
  font-size: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.codelab-milestone {
  width: 100%;
}

app-milestone {
  display: flex;
  flex-direction: column;
  height: 100%;
}
