textarea {
  margin: 10px 0;
  height: 100px;
}

input, textarea {
  width: 100%;
  border: 1px #ddd solid;
  padding: 4px;
}

button {
  color: #fff;
  background: #3e8e01;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
  border-radius: 3px;
  line-height: 25px;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  border: 0 solid;
}

form {
  display: block;
  margin-top: 10px;
}
